{% extends "zbd/base.html" %}
{% load static %}
{% block title %}
Buy Lightning Rules
{% endblock %}

{% block content %}
        
      <div class="container content-space-2 content-space-sm-2">
        <!-- Page Header -->
        <div class="page-header">
          <div class="row align-items-center mt-3">
            <div class="col-sm mb-2 mb-sm-0">


              <h2 class="page-header-title">Buy Lightning Rules</h2>
            </div>

            <div class="col-sm-auto">
              <a class="btn btn-primary btn-sm" href="{% url 'index'  %}">
                <i class="bi-back-arrow me-1"></i> Back
              </a>
            </div>
          </div>
        </div>
        <!-- End Page Header -->
      
        <div class="row">
          <div class="col-4">
              <a href="{{ ln_invoice.invoice.uri }}">
                <canvas id="qrcode"></canvas>
              </a>

          </div>
        </div>

      <div class="row my-3">
        <div class="col-12">
          <span hx-get="http://{{ request.get_host }}/charge-status/{{ ln_invoice.id }}/" hx-trigger="every 3s"></span>
        </div>
        <div class="col-lg-12 col-md-6 mb-2">
          <div class="rounded px-3 py-2">
            Price: 100 sats
          </div>
          <a class="btn btn-outline-primary btn-transition my-2" href="{{ ln_invoice.invoice.uri }}">Open in Wallet</a>


        </div>  

      </div>

        


      </div>

      </div>


{% endblock %}

{% block custom_js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
<script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>



<script type="text/javascript">
  invoice = "{{ln_invoice.invoice.uri}}"
  var qrcode = new QRious({
    element: document.getElementById('qrcode'),
    size: 200,
    value: invoice,
  });
</script>


{% endblock %}